{% extends 'base.html.twig' %}

{% block title %}OAuth test client{% endblock title %}

{% block body %}
{% if error is defined and error is not empty %}
    <p>
        {{ dump(error) }}

    {% if errorDescription is defined %}
        {{ dump(errorDescription) }}
    {% endif %}

    </p>
{% endif %}

{% if userdata is defined and userdata is not empty %}
    <p>
        {{ dump(userdata) }}
    </p>
{% endif %}

    <p>
        <a href="{{ path('authorize') }}">Start</a>
    </p>
{% endblock body %}
